USE [master]
GO
/****** Object:  Database [Db_Resume]    Script Date: 10/17/2024 11:20:21 PM ******/
CREATE DATABASE [Db_Resume]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Db_Resume', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Db_Resume.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Db_Resume_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Db_Resume_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Db_Resume].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Db_Resume]
GO
/****** Object:  Table [dbo].[Tbl_About]    Script Date: 10/17/2024 11:20:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_About](
	[AboutId] [int] IDENTITY(1,1) NOT NULL,
	[AboutName] [varchar](50) NULL,
	[AboutSurname] [varchar](50) NULL,
	[AboutAddress] [varchar](50) NULL,
	[AboutMail] [varchar](50) NULL,
	[AboutPhone] [varchar](50) NULL,
	[AboutContext] [varchar](max) NULL,
	[AboutGitHub] [varchar](max) NULL,
	[AboutLinkedin] [varchar](max) NULL,
	[AboutImage] [varchar](max) NULL,
 CONSTRAINT [PK_Tbl_About] PRIMARY KEY CLUSTERED 
(
	[AboutId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Admin]    Script Date: 10/17/2024 11:20:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Admin](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
 CONSTRAINT [PK_Tbl_Admin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Certificates]    Script Date: 10/17/2024 11:20:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Certificates](
	[CertificateId] [int] IDENTITY(1,1) NOT NULL,
	[CertificateTitle] [varchar](max) NULL,
	[CertificateOrganization] [varchar](50) NULL,
	[CertificateTime] [varchar](50) NULL,
	[CertificateDate] [varchar](50) NULL,
	[CertificateUrl] [varchar](max) NULL,
 CONSTRAINT [PK_Tbl_Certificates] PRIMARY KEY CLUSTERED 
(
	[CertificateId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Educations]    Script Date: 10/17/2024 11:20:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Educations](
	[EducationId] [int] IDENTITY(1,1) NOT NULL,
	[EducationTitle] [varchar](50) NULL,
	[EducationSubtitle] [varchar](50) NULL,
	[EducationDescription] [varchar](max) NULL,
	[EducationAvg] [varchar](50) NULL,
	[EducationDate] [varchar](50) NULL,
 CONSTRAINT [PK_Tbl_Educations] PRIMARY KEY CLUSTERED 
(
	[EducationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Experiences]    Script Date: 10/17/2024 11:20:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Experiences](
	[ExperienceId] [int] IDENTITY(1,1) NOT NULL,
	[ExperienceTitle] [varchar](50) NULL,
	[ExperienceSubtitle] [varchar](50) NULL,
	[ExperienceDescription] [varchar](max) NULL,
	[ExperienceDate] [varchar](50) NULL,
 CONSTRAINT [PK_Tbl_Experiences] PRIMARY KEY CLUSTERED 
(
	[ExperienceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Interests]    Script Date: 10/17/2024 11:20:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Interests](
	[InterestId] [int] IDENTITY(1,1) NOT NULL,
	[InterestDescriptions] [varchar](max) NULL,
 CONSTRAINT [PK_Tbl_Interests] PRIMARY KEY CLUSTERED 
(
	[InterestId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Languages]    Script Date: 10/17/2024 11:20:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Languages](
	[LanguageId] [int] IDENTITY(1,1) NOT NULL,
	[LanguageDescription] [varchar](max) NULL,
 CONSTRAINT [PK_Tbl_Languages] PRIMARY KEY CLUSTERED 
(
	[LanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbl_Skills]    Script Date: 10/17/2024 11:20:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbl_Skills](
	[SkillId] [int] IDENTITY(1,1) NOT NULL,
	[SkillTitle] [varchar](50) NULL,
	[SkillName] [varchar](max) NULL,
 CONSTRAINT [PK_Tbl_Skills] PRIMARY KEY CLUSTERED 
(
	[SkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
